extends layouts/default
include helpers/mixins
include ../blocks/modules/header/header.pug
include ../blocks/modules/main/main.pug

block variables
	- const title = "gulp-pug-starter"

block content
	include ../../src/img/sprite.svg
	#site-container
		+header
		+main

block scripts
	script.
		// object.assign polyfill
		if (typeof Object.assign != 'function') {
			Object.assign = function (target) {
				'use strict';
				if (target == null) {
					throw new TypeError('Cannot convert undefined or null to object');
				}
				target = Object(target);
				for (var index = 1; index < arguments.length; index++) {
					var source = arguments[index];
					if (source != null) {
						for (var key in source) {
							if (Object.prototype.hasOwnProperty.call(source, key)) {
								target[key] = source[key];
							}
						}
					}
				}
				return target;
			};
		}
		// object.assign polyfill
	script(src="js/main.js")
	script(src="js/vendor.js")