@media (max-width: 75rem) {
    .main-content .all-project .project-item .text-project {
        margin-top: 0.7rem;
    }
}

@media (max-width: 62rem) {
    #clip-path {
        display: none;
    }

    .main-content .all-project .project-item .text-project {
        margin-top: r(-6);
    }
}

@media (max-width: 48rem) {
    .main-header__section-left .img-profile {
        margin-right: 0;
    }

    .main-header__about-me {
        margin-top: rem(20);
        transition: all .5s linear;
    }

    .main-header__section-right {
        text-align: center;
        margin-top: rem(20)
    }

    .main-header__section-left {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-header__about-me {
        flex: 0 0 100%;
        text-align: center;
    }

    .img-position {
        width: 90vw;
    }

    .main-content .all-project {
        padding-top: 1.5rem;
    }

    .main-content .all-project .project-item .img-project {
        margin-bottom: r(10);
    }

    .main-content .all-project .project-item .text-project {
        margin-top: r(3);
    }
}

@media (max-width: 36rem) {
    .img-responsive {
        min-height: r(130);
    }

    .main-content .all-project .project-item {
        border-bottom: 0.0625rem solid #e8e8e8;
    }

    .main-content .all-project .project-item .text-project {
        padding: r(10) 0;
    }

    .main-content .all-project {
        padding-top: 0;
    }

    #modal__inner {
        margin: r(10);
    }

    .main-content .all-project .project-item .img-project {
        margin-bottom: 0.025rem;
    }

    .main-content__content-b,
    .main-content__aside-wrp {
        padding: 1.6875rem;
    }
}

@media (max-width: 20rem) {
    .main-content .main-content_courses p {
        font-size: 0.8375rem;
    }

    .main-content .main-content_courses span {
        font-size: 0.9rem;
    }

    #modal__information p {
        font-size: r(17);
    }

    #modal__information span {
        font-size: r(14);
    }

    #modal__form form {
        padding: 1.275rem;
    }

    #modal__form form label {
        margin-bottom: 0.95rem;
    }

    #modal__form form textarea {
        width: 100%;
        height: r(75);
    }

    #modal__form #btn-modal {
        margin: 1.175rem auto 0;
    }

    #modal__close {
        top: 0.75rem;
        right: 0.6rem;
    }

    .paragraph {
        font-size: r(15.7);
        line-height: 1.5;
    }

    .main-content__content-b,
    .main-content__aside-wrp {
        padding: 1.4875rem;
        margin-bottom: 1.2875rem;
    }
}

@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {}